{% extends 'base.html' %}<!--to inherit from 'base.html'-->
{% block content %}
<h1>New Blog</h1>

<form action = '' method = 'POST'><!--to specify that we're sending data-->

    {% csrf_token %}<!--middleware and template tag Django provides to protect from cross-site scripting atacks-->
    {{ form.as_p }}<!--to output form data and render it within paragraph <p> tags-->
    <input type = 'submit' value = 'Save'/>
    
</form>

{% endblock content %}