{% extends 'base.html' %}

{% block content %}

<p>Sign Up</p>
<form method = "POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type = 'submit'>Sign Up</button>
</form>

{% endblock content %}
